
<div id="apploader" class="invisible">
    <div class="loader">
        <div class="loading-sprite">
            <div class="loading-sprite-inner"></div>
        </div>
        <p class="ajax-error hidden">网络不给力啊，请稍后再试！</p>
    </div>
</div>

<div id="apploader-closing" class="invisible">
    <div class="loader text-center">
        <div class="loading-icon">
            <span class="iconfont icon-logo"></span>
        </div>
        <div class="loading-text">正在加载</div>
    </div>
</div>
