
#global-menu {
    $dh: 240px;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    .lantern, .dropdown-menu {
        visibility: visible;
        @include transition(transform .3s ease-in-out);
    }
    .lantern {
        width: 40px;
        height: 130px;
        border: 0;
        @include transform(translate3d(10px, -($dh + 15px), 0));
        background-position: top right;
    }
    &.open .lantern {
        @include transform(translate3d(58px, 0, 0));
        background-position: top left;
    }
    .dropdown-menu {
        display: block;
        position: relative;
        float: none;
        box-shadow: none;
        top: auto;
        border: 0;
        width: 160px;
        height: $dh;
        padding: 17px 0 23px;
        > li > a {
            height: 40px;
            background-color: transparent;
        }
        @include transform(translate3d(0, -$dh, 0));
    }
    &.open .dropdown-menu {
        @include transform(translate3d(0, 0, 0));
    }
    .monkey {
        @include position(fixed, 10px 10px auto auto);
        width: 20px;
        height: 30px;
        visibility: visible;
    }
    .money {
        @include position(fixed, 10px 10px auto auto);
        width: 120px;
        height: 40px;
        visibility: visible;
        cursor: pointer;
        @include animation-delay(3s);
        @include animation-iteration-count(3);
    }
}
