<div class="view view-hidden" id="view-about">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">关于八音盒</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img img-contain" data-bg-src="images/bg.jpg">
        <div class="about img img-contain" data-bg-src="images/aboutus.png"></div>
    </div>
</div>
