
<div class="view view-hidden" id="view-about">
    <div class="wrapper img img-contain" data-bg-src="images/bg.jpg">
        <div class="about img img-contain" data-bg-src="images/aboutus.png"></div>
    </div>
</div>
