
<nav id="global-menu" class="dropdown hidden">
    <ul class="dropdown-menu img img-contain" data-bg-src="images/global-menu-dropdown-bg.png">
        <li><a data-route="record"></a></li>
        <li><a data-route="map"></a></li>
        <li><a class="btn-share"></a></li>
    </ul>
    <div class="btn btn-link lantern img"
        data-toggle="dropdown" data-bg-src="images/lanterns.png"></div>
    <div class="monkey img img-contain" data-bg-src="images/monkey-stamp.png"></div>
</nav>
