<script src="http://api.map.baidu.com/api?v=2.0&ak=FWQSbKcHs6QABLjn6zkOIRGk"></script>

<div class="view view-hidden" id="view-map">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">China Map</span>
        </div>
        <!-- <div class="btn btn-link pull-left" data-route="return">
             <i class="iconfont icon-angle-left"></i>
             </div>
             <div class="btn btn-link pull-right">
             <i class="iconfont icon-check"></i>
             </div>
           -->
    </header>
    <div class="wrapper">
        <div id="map-container">

        </div>
        <!-- <div class="text-center">
             <button class="btn btn-primary btn-logout">登出</button>
             </div> -->
    </div>
</div>
