<div class="view view-hidden" id="view-map">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">标题</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
        <div class="btn btn-link pull-right">
            <i class="iconfont icon-check"></i>
        </div>
    </header>
    <div class="wrapper">
        <div class="canvas">
            <div class="map">
                <% include ../../assets/images/map.svg %>
            </div>
        </div>
    </div>
</div>
