<div class="view view-hidden" id="view-prologue">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">老家故事</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img" data-bg-src="images/bg.jpg">
        <div id="prologue-canvas-wrapper"></div>
        <div class="btn-start img img-contain invisible"
            data-bg-src="images/buttons/start.png"></div>
        <div class="cover img" data-bg-src="images/cover.jpg">
            <span class="gesture fa fa-angle-double-up"></span>
        </div>
    </div>
</div>
