<div class="view view-hidden" id="view-record">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">录音</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
        <div class="btn btn-link pull-right">
            <i class="iconfont icon-check"></i>
        </div>
    </header>
    <div class="wrapper">
        <div class="text-center places-select">
            <select class="form-control" name="province">
                <option value="">省</option>
            </select>
            <select class="form-control" name="city">
                <option value="">市</option>
            </select>
            <select class="form-control" name="district">
                <option value="">区</option>
            </select>
        </div>
        <div class="text-center">
            <p class="recording-tip invisible">正在录音... <span>0</span>s</p>
            <button class="btn btn-primary btn-record">开始录音</button>
        </div>
        <div class="text-center play-buttons invisible">
            <button class="btn btn-block btn-primary btn-play">试听</button>
            <button class="btn btn-block btn-outline btn-save">保存</button>
        </div>
    </div>
</div>
