<div class="view view-hidden" id="view-record">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">录制乡音祝福</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img" data-bg-src="images/bg.jpg">
        <section class="welcome text-center">
            <div>来自『<span class="user-place sans-serif">家乡</span>·<span class="user-name sans-serif">八音盒</span>』的乡音祝福</div>
            <div class="translation sans-serif">新年快乐</div>
        </section>
        <section class="play-wrapper">
            <div class="clouds img img-contain" data-bg-src="images/clouds.png"></div>
            <div class="controls">
                <div class="disc btn-play img img-contain" data-bg-src="images/play/disc.png">
                    <div class="user-avatar img"></div>
                </div>
                <div class="needle img img-contain" data-bg-src="images/play/needle.png"></div>
            </div>
        </section>
        <section class="record-wrapper">
            <div class="text-center controls">
                <button class="btn btn-record btn-deco transition">
                    <span class="fa fa-wifi fa-rotate-90"></span> 点击开始录音
                </button>
                <p class="tip-record hidden">不超过60秒</p>
                <button class="btn btn-save btn-deco transition">
                    <span class="fa fa-send"></span> 保存乡音祝福
                </button>
            </div>
        </section>
    </div>
    <div class="modal fade modal-places" data-backdrop="static">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-body text-center">
                <p>请选择你的家乡</p>
                <div class="places-select">
                    <select class="form-control" name="province"><option value="">全国</option></select>
                    <select class="form-control" name="city"><option value="">全省</option></select>
                    <select class="form-control" name="district"><option value="">全市</option></select>
                </div>
                <button class="btn btn-img img" data-dismiss="modal"
                    data-bg-src="images/buttons/confirm.jpg"></button>
            </div>
        </div></div>
    </div>
    <div class="modal fade modal-record" data-backdrop="static">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-body">
                <h4 class="record-seconds text-center">正在录音中 <span>0</span>"</h4>
                <div class="microphone fa fa-microphone"></div>
                <h4 class="insp-title">新年祝词提示</h4>
                <ul class="inspirations sans-serif"></ul>
                <div class="text-center">
                    <button class="btn btn-img img" data-dismiss="modal"
                        data-bg-src="images/buttons/end-record.jpg"></button>
                </div>
            </div>
        </div></div>
    </div>
    <div class="modal fade modal-translation" data-backdrop="static">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center">编辑语音文字</h4>
                <textarea class="form-control sans-serif" name="translation" rows="3"></textarea>
                <p class="text-center">点击输入框可进行编辑</p>
                <div class="text-center">
                    <button class="btn btn-img img" data-dismiss="modal"
                    data-bg-src="images/buttons/confirm.jpg"></button>
                </div>
            </div>
        </div></div>
    </div>
    <div class="guideview translation-guide hidden">
        <div class="img img-contain" data-bg-src="images/guides/translation.png"></div>
    </div>
</div>
