<div class="view view-hidden" id="view-record">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">录音</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
        <div class="btn btn-link pull-right">
            <i class="iconfont icon-check"></i>
        </div>
    </header>
    <div class="wrapper">
        <!-- 这里开始内容 -->
        <div class="text-center places-select">
            <select class="form-control" name="province">
                <option value="">省</option>
            </select>
            <select class="form-control" name="city">
                <option value="">市</option>
            </select>
            <select class="form-control" name="district">
                <option value="">区</option>
            </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-record">开始录音</button>
        </div>
    </div>
</div>
