<div class="view view-hidden" id="view-record">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">录音</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img" data-bg-src="images/bg.jpg">
        <section class="welcome">
            <div class="text-center">来自『<span class="user-place">上海</span>·<span class="user-name">八音盒</span>』的乡音祝福</div>
            <article class="translation">
                <input class="form-control text-center" name="translation">
            </article>
        </section>
        <section class="play-wrapper">
            <div class="clouds img img-contain" data-bg-src="images/clouds.png"></div>
            <div class="controls">
                <div class="disc btn-play img img-contain" data-bg-src="images/play/disc.png">
                    <div class="user-avatar img"></div>
                </div>
                <div class="needle img img-contain" data-bg-src="images/play/needle.png"></div>
            </div>
        </section>
        <section class="record-wrapper">
            <div class="text-center controls">
                <button class="btn btn-record btn-deco transition">
                    <span class="fa fa-microphone"></span> 点击开始录音
                </button>
                <p class="tip-record hidden">不超过60秒</p>
                <button class="btn btn-save btn-deco transition">
                    <span class="fa fa-check"></span> 送出乡音祝福
                </button>
            </div>
        </section>
    </div>
    <div class="modal fade modal-places" data-backdrop="static">
        <div class="modal-dialog"><div class="modal-content">
            <div class="modal-body">
                <div class="text-center places-select">
                    <select class="form-control" name="province">
                        <option value="">省</option>
                    </select>
                    <select class="form-control" name="city">
                        <option value="">市</option>
                    </select>
                    <select class="form-control" name="district">
                        <option value="">区</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer" data-dismiss="modal">
                <button class="btn btn-primary">确定</button>
            </div>
        </div></div>
    </div>
    <div class="modal fade modal-record" data-backdrop="static">
        <div class="modal-dialog"><div class="modal-content"><div class="modal-body">
            <div class="modal-header">
                <h4 class="modal-title text-center">正在录音</h4>
                <div class="record-seconds text-center"><span>0</span>"</div>
            </div>
            <div class="modal-body">
                <h1 class="text-center"><span class="fa fa-microphone"></span></h1>
                <div class="inspirations"></div>
            </div>
            <div class="modal-footer" data-dismiss="modal">
                <button class="btn btn-primary">完成</button>
            </div>
        </div></div></div>
    </div>
</div>
