<div class="view view-hidden" id="view-relay">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">乡音祝福接力</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img img-contain" data-bg-src="images/bg.jpg">
        <div class="img-title img img-contain" data-bg-src="images/relay/relay-title.png"></div>
        <div class="relay-wrapper">
            <ul class="nav nav-pills">
              <li class="active"><a href="#view-relay .ranking" data-toggle="tab">排行榜</a></li>
              <li><a href="#view-relay .my" data-toggle="tab">我的</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active ranking">
                    <table class="table table-condensed">
                        <tr><th>排名</th><th>用户</th><th>接力祝福人数</th></tr>
                        <tr><td>NO.1</td><td class="sans-serif">阿亮</td><td>376</td></tr>
                        <tr><td>NO.2</td><td class="sans-serif">NAKADA</td><td>320</td></tr>
                        <tr><td>NO.3</td><td class="sans-serif">雪妍★</td><td>291</td></tr>
                        <tr><td>NO.4</td><td class="sans-serif">艾莉丝丝丝</td><td>286</td></tr>
                        <tr><td>NO.5</td><td class="sans-serif">Sisidai</td><td>232</td></tr>
                        <tr><td>NO.6</td><td class="sans-serif">徐铮</td><td>211</td></tr>
                        <tr><td>NO.7</td><td class="sans-serif">小Lea</td><td>199</td></tr>
                        <tr><td>NO.8</td><td class="sans-serif">丫丫</td><td>160</td></tr>
                        <tr><td>NO.9</td><td class="sans-serif">梓桐</td><td>142</td></tr>
                        <tr><td>NO.10</td><td class="sans-serif">Fang</td><td>112</td></tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane my">
                    <div class="win hidden">
                        <div>你的乡音祝福已被<span class="children-count">10</span>个人接力。再接再厉，继续分享自己的语音祝福给更多的好友吧！</div>
                        <button class="btn btn-share btn-deco transition">分享我的乡音祝福</button>
                    </div>
                    <div class="fail">
                        <div>啊噢，你还没有录制乡音祝福，还无法参加祝福接力袄。快戳下面的按钮，赶紧来参与吧！</div>
                        <button class="btn btn-deco transition" data-route="record">我要录制乡音祝福</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blossom img img-contain" data-bg-src="images/relay/blossom.png"></div>
        <article class="instruction">
            <div class="img-title img img-contain" data-bg-src="images/relay/instruction.png"></div>
            <h4>本次活动分为两个部分，第一部分是“拼人脉，赢大奖”，参与方式如下：</h4>
            <p>录制自己的乡音祝福，发布到朋友圈，点名提醒@你尽可能多的朋友，你的朋友点进去你发布的链接，开始录制自己的新年祝福，并以同样的方式再分享到朋友圈@自己的好友。</p>
            <p>以6个层级为链接关系，按累计祝福被接力最多的次数来排名。</p>
            <ul>
                <li>一等奖一名，将获得iPhone6 Plus一部；</li>
                <li>二等奖三名，将各获得九阳豆浆机一台；</li>
                <li>三等奖五名，将各获得小熊加湿器一台。</li>
            </ul>
            <p>领取方式：添加微信公众号“八音盒轻故事”，获奖者可与后台客服联系，核实身份后将快递寄出本次活动的奖品。</p>
            <h4>活动的第二部分是“随机数字就是你，领不完的红包在等你”，参与方式如下：</h4>
            <p>长按识别“八音盒小茶馆”的微信群二维码并加入。</p>
            <img class="qr" data-src="images/relay/qr-wxgroup.gif">
            <p>我们从现在开始，每隔一小时会提前公布一个数字，比如现在最新的一个用户是第3000个分享自己的乡音祝福的，我们可能会随机根据这个数字产生一个新的数字，例如3088。</p>
            <p>那么一小时内，如果有第3088位分享出自己乡音祝福的人，就可以截屏朋友圈照片并发到群里，那么即可以领取随机份额红包一份。</p>
            <p>如果一小时内没有人达到这个数字，那么这轮的红包得奖将取消，我们将公布另一个新的数字。即以一小时为限定，为一个幸运数字的轮回。</p>
        </article>
    </div>
</div>
