<div class="view view-hidden" id="view-relay">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">乡音祝福接力</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img img-contain" data-bg-src="images/bg.jpg">
        <div class="img-title img img-contain" data-bg-src="images/relay/relay-title.png"></div>
        <div class="relay-wrapper">
            <ul class="nav nav-pills">
              <li class="active"><a href="#view-relay .ranking" data-toggle="tab">排行榜</a></li>
              <li><a href="#view-relay .my" data-toggle="tab">我的</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active ranking">
                    <table class="table table-condensed">
                        <tr><th>排名</th><th>用户</th><th>接力祝福人数</th></tr>
                        <tr><td>NO.1</td><td class="sans-serif">阿亮</td><td>376</td></tr>
                        <tr><td>NO.2</td><td class="sans-serif">NAKADA</td><td>320</td></tr>
                        <tr><td>NO.3</td><td class="sans-serif">雪妍★</td><td>291</td></tr>
                        <tr><td>NO.4</td><td class="sans-serif">艾莉丝丝丝</td><td>286</td></tr>
                        <tr><td>NO.5</td><td class="sans-serif">Sisidai</td><td>232</td></tr>
                        <tr><td>NO.6</td><td class="sans-serif">徐铮</td><td>211</td></tr>
                        <tr><td>NO.7</td><td class="sans-serif">小Lea</td><td>199</td></tr>
                        <tr><td>NO.8</td><td class="sans-serif">丫丫</td><td>160</td></tr>
                        <tr><td>NO.9</td><td class="sans-serif">梓桐</td><td>142</td></tr>
                        <tr><td>NO.10</td><td class="sans-serif">Fang</td><td>112</td></tr>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane my">
                    <div class="win hidden">
                        <div>你的乡音祝福已被<span class="children-count">10</span>个人接力。再接再厉，继续分享自己的语音祝福给更多的好友吧！</div>
                        <button class="btn btn-share btn-deco transition">分享我的乡音祝福</button>
                    </div>
                    <div class="fail">
                        <div>啊噢，你还没有录制乡音祝福，还无法参加祝福接力袄。快戳下面的按钮，赶紧来参与吧！</div>
                        <button class="btn btn-deco transition" data-route="record">我要录制乡音祝福</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="blossom img img-contain" data-bg-src="images/relay/blossom.png"></div>
        <article>
            <div class="img-title img img-contain" data-bg-src="images/relay/instruction.png"></div>
        </article>
    </div>
</div>
