<div class="view view-hidden" id="view-search">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">标题</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
        <div class="btn btn-link pull-right">
            <i class="iconfont icon-check"></i>
        </div>
    </header>
    <div id="places">
        <div class="input-wrapper">
            <input type="text" id="search-input" class="form-control search" placeholder="Search">
            <!-- <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span> -->
            <span class="search-cancel">取消</span>
        </div>
        <ul id="place-list-wrapper" class="list list-transparent-1">

        </ul>
    </div>

    <div>
        <div class="text-center places-select">
            <select class="form-control" name="province">
                <option value="">省</option>
            </select>
            <select class="form-control" name="city">
                <option value="">市</option>
            </select>
            <select class="form-control" name="district">
                <option value="">区</option>
            </select>
        </div>
    </div>
</div>
