<div class="view view-hidden" id="view-search">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">标题</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
        <div class="btn btn-link pull-right">
            <i class="iconfont icon-check"></i>
        </div>
    </header>
    <div class="wrapper">
        <div class="search-wrapper img img-cover" data-bg-src="images/search/bg.jpg">
            <div id="places-search">
                <div class="input-wrapper">
                    <input type="text" id="search-input" class="form-control search" placeholder="可直接输入省市">
                    <span class="search-cancel has-border-right glyphicon glyphicon-remove"></span>
                </div>
                <ul id="place-list-wrapper" class="list"></ul>
            </div>
            <div id="places-select-wrapper">
                <div class="text-center places-select">
                    <select class="form-control" name="province">
                        <option value="">省</option>
                    </select>
                    <select class="form-control" name="city">
                        <option value="">市</option>
                    </select>
                    <select class="form-control" name="district">
                        <option value="">区</option>
                    </select>
                    <button class="btn btn-primary btn-select-search">确定</button>
                </div>
            </div>
            <div class="wishes-loading">
                <div class="newyear-wishes-wrapper"></div>
                <div class="loading-more text-center hidden">正在加载...</div>
            </div>
        </div>
    </div>
</div>
