<div class="view view-hidden" id="view-search">
    <header class="header-navbar">
        <div class="navbar-body">
            <span class="navbar-title">搜索乡音祝福</span>
        </div>
        <div class="btn btn-link pull-left" data-route="return">
            <i class="iconfont icon-angle-left"></i>
        </div>
    </header>
    <div class="wrapper img img-cover" data-bg-src="images/search/bg.jpg">
        <div id="places-search">
            <div class="input-wrapper">
                <input type="text" id="search-input" class="form-control search" placeholder="可直接输入省市">
                <span class="search-cancel glyphicon glyphicon-remove"></span>
            </div>
            <ul id="place-list-wrapper" class="list"></ul>
        </div>
        <div id="places-select-wrapper">
            <div class="text-center places-select">
                <select class="form-control" name="province"><option value="">全国</option></select>
                <select class="form-control" name="city"><option value="">全省</option></select>
                <select class="form-control" name="district"><option value="">全市</option></select>
            </div>
        </div>
        <div class="wishes-container">
            <div class="wishes-bg-bottom"></div>
            <div class="wishes-bg-top"></div>
            <div id="wishes-swiper" class="img img-stretch newyear-wishes-wrapper"
                data-bg-src="images/search/wishes-list-wrapper-bg.jpg"></div>
            <div class="text-tips"></div>
            <div class="btn btn-reset-search hidden" data-route="search">查看全国的乡音祝福</div>
            <div class="text-empty-tips">
                <p>你的家乡还没有人送上乡音祝福袄，快来做第一个代表家乡录新年祝福的人吧！</p>
                <div class="btn btn-goto-record" data-route="record">录制乡音祝福</div>
            </div>
        </div>
    </div>
</div>
