
<script id="template-thenameoftemplate" type="text/x-handlebars-template">
    <!-- template content -->
</script>

<script id="wish-item-template" type="text/x-handlebars-template">
        <div class="inline-div inline-div-avatar">
            <div class="avatar img img-cover play" data-bg-src="{{profile.avatar}}">
                <i class="fa fa-play"></i>
            </div>
        </div>
        <div class="inline-div inline-div-name">
            <div class="name text-center">{{profile.name}}</div>
        </div>
        <div class="inline-div inline-div-place">
            <div class="place text-center">{{formatted_place}}</div>
        </div>
</script>

<script id="template-play" type="text/x-handlebars-template">
    <div class="play-wrapper"></div>
    <div class="monkey-stamp"></div>
    <div class="title">
        <p class="wish-title">来自『{{places.0.name}}·{{profile.name}}』的乡音祝福</p>
        <div class="description-wrapper">
            <p class="description">{{description}}</p>
        </div>
    </div>
    <div class="disc-wrapper no-playing">
        <div class="disc-bg img img-contain" data-bg-src="/images/play/disc.png">
            <div class="wish-avatar img img-cover" data-bg-src="{{profile.avatar}}"></div>
        </div>
        <div class="needle"></div>
    </div>
    <div class="like-wrapper btn btn-like" data-toggle="like">
        <div class="like-btn-wrapper">
            <span class="iconfont icon-like-o"></span>
            <span class="iconfont icon-like"></span>
        </div>
        <span class="like-count"></span>
    </div>
    <div class="frame-text listen-again img img-cover" data-bg-src="/images/play/frame.png">再听一遍TA的祝福</div>
    <div class="frame-text start-record img img-cover" data-bg-src="/images/play/frame.png">我也要说家乡话</div>
</script>
