@include keyframes (bounce) {
  20%, 53%, 80% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    @include transform ( translate3d(0,0,0));
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    @include transform ( translate3d(0, -10px, 0));
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    @include transform ( translate3d(0, -5px, 0));
  }

  90% {
    @include transform ( translate3d(0,-4px,0));
  }

  100%{
    @include transform(scale(1));
    opacity: 1;
  }
}

/* .bounce { */
/*   animation-name: bounce; */
/*   transform-origin: center bottom; */
/* } */

#view-map{
  ::-webkit-scrollbar {
    display: none;
  }
  .canvas{
    width: 100%;
    height: 100%;
    //overflow: hidden;
    .map{
      width: 100%;
      height: 100%;
      overflow: auto;
      svg{  // origin width/height = 360/308
        width: 620px;  // easy for people to see
        height: 616px;
        #map-china-background, #map-background{
          position: relative;
        }
        .marker{
          opacity: 0;
        }
      }
    }
  }
}
