@include keyframes(discOutLeft) {
    from {
        @include transform(translate3d(0, 0, 0));
    }
    to {
        @include transform(translate3d(-150%, 0, 0));
    }
}

.discOutLeft {
    @include transform(translate3d(0, 0, 0));
    @include animation(discOutLeft 0.5s linear);
    @include animation-fill-mode(forwards);
}

#view-play {
    color: #663500;
    .wrapper {
        padding-top: 70px;
    }
    .play-wrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .wish-title {
        color: #663500;
        font-size: 16px;
        padding: 0 60px;
        // height: 2em;
    }
    .description-wrapper {
        margin: 0 40px;
        overflow: hidden;
        // min-height: 1em;
        position: relative;
        .description {
            color: #663500;
            font-size: 1em;
            height: 1.3em;
            white-space: nowrap;
        }
    }
    .disc-wrapper {
        display: block;
        position: relative;
        padding-top: 50px;
        margin-top: 7%;
        .clouds {
            @include position(absolute, 0 0 auto 0);
            height: 50px;
            @include animation(pulse 8s linear infinite);
        }
        .needle {
            position: absolute;
            top: 0;
            left: 46%;
            width: 15%;
            padding-top: 32.33%;
            background: image-url("play/needle.png") no-repeat center;
            background-size: 100% 100%;
            @include transform-origin(24% 12%);
            @include transition(all, .35s);
            @include transform(rotate(-40deg));
        }
        .disc-bg {
            margin: 0px auto;
            width: 51%;
            padding: 15%;
            position: absolute;
            left: 50%;
            margin-left: -25.5%;
            // @include position(absolute, 0 20px 0 20px);
            // @include clearfix();
        }
        &.playing .disc-bg {
            @include transform-origin(center center);
            @include animation(discRotate 8s linear infinite);
            @include keyframes(discRotate) {
                from {
                    @include transform(rotate(0deg));
                }
                to {
                    @include transform(rotate(360deg));
                }
            }
        }
        &.playing .fa-pause {
            @include transform-origin(center center);
            @include animation(pauseRotate 8s linear infinite);
            @include keyframes(pauseRotate) {
                from {
                    @include transform(rotate(0deg));
                }
                to {
                    @include transform(rotate(-360deg));
                }
            }
        }
        .wish-avatar {
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            position: relative;
        }
        .fa-play, .fa-pause {
            position: absolute;
            font-size: 40px;
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            color: rgba(#fff, 0.8);
        }
        .fa-play {
            text-indent: 4px;
        }
        &.playing .needle {
            @include transform(rotate(-10deg));
        }
    }
    .like-wrapper {
        margin: 20px auto;
        padding-top: 51%;
        .like-btn {
            padding: 6px;
            display: inline-block;
        }
        .iconfont {
            font-size: 1.1em;
        }
        .like-count {
            height: 14px;
            padding: 2px 0;
            font-size: 10px;
        }
        .icon-like {
            display: none;
        }
        .like-btn.liked {
            .icon-like { display: inline-block; }
            .icon-like-o { display: none; }
            .iconfont {
                color: $brand-primary;
                @include animation(bounceIn 1s);
            }
        }
    }
    .frame-text {
        cursor: pointer;
        width: 200px;
        height: 45px;
        padding: 10px 0;
        margin: 5% auto;
        background: image-url("play/frame.png") no-repeat top center;
        background-size: contain;
        font-size: 18px;
        &:active, &:hover {
            opacity: 0.5;
        }
    }
    .listen-again {
        @include transition(all 350ms);
        opacity: 1;
        visibility: visible;
        &.invisible {
            opacity: 0;
        }
    }
    @media (min-width: 320px) {
        i.audio-controller {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 50px;
            display: block;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            text-indent: 10px;
        }
    }
    @media (max-width: 320px) {
        i.audio-controller {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 40px;
            display: block;
            height: 40px;
            width: 40px;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -20px;
            text-indent: 8px;
        }
    }
}
