
#view-record {
    .places-select {
        margin: 30px auto;
    	select {
            display: inline-block;
            -webkit-appearance: none;
            width: auto;
            min-width: 80px;
            max-width: 100px;
        }
    }
    .play-buttons {
        width: 100px;
        margin: 30px auto;
        .btn {
            margin: 15px auto;
        }
    }
}
