
$gold: #663500;

@include keyframes(discRotate) {
    from { @include transform(rotate(0deg)); }
    to { @include transform(rotate(360deg)); }
}

@include keyframes(recording) {
    from { color: rgba($gold, 1); }
    50% { color: rgba($gold, 0.3); }
}

#view-record {
    color: $gold;
    input {
        color: $gold;
        background-color: transparent;
    }
    .wrapper {
        padding-top: 50px;
    }
    .btn-deco {
        display: block;
        font-size: 18px;
        padding: 12px;
        margin: 12px auto;
        width: 200px;
        color: $gold;
        background: transparent image-url("buttons/button-border.png") no-repeat center;
        background-size: 100% 100%;
        &:active, &:hover {
            opacity: 0.5;
        }
        .fa {
            position: relative;
            left: -10px;
        }
    }
    .btn-img {
        height: 44px;
        width: 88px;
        border-radius: 0;
        border-color: transparent;
        background-color: transparent;
        background-size: contain;
        &:active, &:hover {
            opacity: 0.5;
        }
    }
    .transition {
        @include transition(all .35s ease-in-out);
    }
    .welcome {
        padding: 0 60px;
        font-size: 16px;
        .translation {
            height: 40px;
        }
    }
    /* play */
    .play-wrapper {
        position: relative;
        .clouds {
            @include position(absolute, 0 0 auto 0);
            height: 50px;
        }
        .controls {
            position: relative;
            padding-top: 50px;
            margin-top: 7%;
        }
        .needle {
            position: absolute;
            top: 0;
            left: 46%;
            width: 15%;
            padding-top: 32.33%;
            @include transition(transform .35s ease-in-out);
            @include transform-origin(24% 12%);
            @include transform(rotate(-40deg));
        }
        .disc {
            margin: 0px auto;
            width: 51%;
            padding: 15%;
        }
        .user-avatar {
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            position: relative;
        }
        &.playing {
            .needle { @include transform(rotate(-10deg)); }
            .disc { @include animation(discRotate 8s linear infinite); }
        }
    }
    /* record */
    .record-wrapper {
        position: relative;
        padding: 20px;
        .controls {}
        .tip-record {
            margin: 20px auto;
        }
        .btn-record {}
        .btn-save {}
        &.recording {}
    }
    /* record modal */
    .modal-record {
        .microphone {
            display: block;
            width: 90px;
            height: 90px;
            line-height: 88px;
            border: 1px solid #a58a63;
            font-size: 45px;
            text-align: center;
            margin: 20px auto;
            border-radius: 50%;
            @include animation(recording 2s ease-in-out infinite);
        }
        .insp-title {
            padding: 10px 20px;
        }
        .btn-img {
            width: 100px;
        }
        .inspirations {
            padding-left: 20px;
            font-size: 12px;
        }
    }
    /* place modal */
    .modal-places {
        .places-select {
            margin: 10px auto;
        }
    }
}

#view-record .modal {
    top: 50px;
    .modal-dialog {
        padding: 20px 30px;
        position: relative;
        &::before, &::after {
            content: "";
            z-index: 1;
            @include position(absolute, 0 0 0 0);
            background: image-url("record/cloud-deco.png") no-repeat;
            background-size: contain;
        }
        &::before {
            bottom: auto;
            height: 40px;
            background-position: left;
        }
        &::after {
            top: auto;
            height: 50px;
            background-position: right;
        }
    }
    .modal-content {
        position: relative;
        background: image-url("record/modal-bg.jpg") no-repeat center;
        background-size: cover;
        border: 0;
        border-radius: 0;
        padding: 7px;
    }
    .modal-body {
        border: 1px solid #ad7b3a;
        padding: 30px 15px;
    }
    &.fade .modal-dialog {
        @include transform(translate3d(0, 0, 0));
        @include transition(none);
    }
}