
#view-search .search-wrapper{
    width: 100%;
    height: 100%;

    @include transition(all 2s ease-in-out);
    .places-select {
        margin: 30px auto;
        select {
            display: inline-block;
            -webkit-appearance: none;
            width: auto;
            min-width: 80px;
            max-width: 100px;
        }
    }
    #places-search {
        width: 100%;
        overflow: auto;
        position: relative;
        margin: 0px auto 10px;
    }

    .input-wrapper {
        width: 100%;
        padding: 10px;
        padding-left: 60px;
        @include clearfix;
    }
    #search-input {
        float: left;
        // @include transition(all 2s ease-in-out);
        @include placeholder {
            color: #baa480;
        }
    }
    .no-border-right {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .has-border-right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .search-cancel {
        display: none;
        text-align: center;
        height: 34px;
        padding: 10px;
        float: right;
        background-color: #eee;
        border: #ccc;
        // @include transition(all 2s ease-in-out);
    }
    ul#place-list-wrapper {
        display: none;
        list-style-type: none;
        padding: 0;
        margin-top: 0;
        // @include transition(all 2s ease-in-out);
    }
    li.place-item {
        font-size: 14px;
        padding: 8px 20px;
        border-bottom: 1px solid rgba(#ededed, 0.8);
    }
    p.name {
        margin: 0;
    }

    .wish-item {
        display: block;
        border-bottom: 1px solid #ddd;
        @include clearfix;
        .inline-div {
            display: inline-block;
            float: left;
            border-right: 1px solid rgba(#ddd, 0.8);
            &:last-child {
                border-right-width: 0;
            }
        }
        .inline-div-avatar {
            width: 15%;
            .avatar {
                width: 39px;
                padding-top: 39px;
                margin: 0 auto;
                background-position: center;
            }
        }
        .inline-div-name {
            width: 20%;
            .name {
                color: #ab773f;
                padding: 10px 0;
                text-align: center;
                width: 100%;
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
        .inline-div-place {
            width: 45%;
            .place {
                color: #c3ad8d;
                background-color: #b9a482;
                padding: 10px 0;
                text-align: center;
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
        .inline-div-play {
            width: 20%;
            .play {
                padding: 10px 0;
            }
        }
    }
    &.searching {
        .search-wrapper {
            position: relative;
        }
        #search-input {
            padding-right: 34px;
        }
        .search-cancel {
            display: block;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        ul#place-list-wrapper {
            display: block;
            padding-left: 60px;
            padding-right: 10px;
            // border: 1px solid;
            li {
                border: 1px solid;
                border-bottom: none;
            }
        }
        .places-select {
            display: none;
        }
    }
    .wishes-loading {
        width: 100%;
        height: 306px;
        overflow: auto;
    }
}

#global-menu {
    display: none;
}
